<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express • TodoMVC</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/login.css">
	</head>
	<body>
		<section class="prompt">
			<h3>Welcome to video chat</h3>
            <hr>
		
			<!-- <p>Log-in to your account </p> -->
            <a class="button google" href="/login/federated/google">Log in with Google</a>
			<!-- <hr> -->
			
        </section>
	</body>
</html>
